.App {
    height: 100vh;
    padding-top: 10px;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 55px;
    margin: 20px;
}

.calculadora-logo-contenedor {
    width: 100%;
    height: 50px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora-logo {
    height: 150px;
}

.contenedor-calculadora {
    width: 400px;
    height: 600px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 10px 5px 10px 10px rgb(0, 0, 0, 0.5);
}

.fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}